<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <br />
  <%= link_to user.email, 'mailto' + user.email %>
  <br /> 
  <em> Last Update: <%= user.updated_at %></em>
  <br />
  
  <em>
  	<% if current_user.admin? && !current_user?(user) %>
    ~<%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</em>
</li>